<!DOCTYPE html>
<html lang="en">
	<head>
		    <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta http-equiv="X-UA-Compatible" content="ie=edge">
			<title>Archeplay</title>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
			<link rel="icon" type="image/png" sizes="16x16" href="fevicon.png">
			<link rel="stylesheet" href="demo.css">
	</head>

	<body>
		<main>
			<section>
				<div class="max-width">
					<div class="banner">
						<img src="demo.jpg" alt="demo" style="width:100%;height:100vh">
					</div>
					<div class="plans-section flexRow">
						<div class="each-plans flexColumn">
							<div class="prod-image"></div>
							<div class="prod-name"></div>
							<div class="prod-desc"></div>
						</div>
					</div>
				</div>
			</section>
	    </main>
	<footer class="fixed"><h6>&copy;Archeplay 2019</h6></footer>
	</body>

</html>

